@CHARSET "UTF-8";
.navbar-brand{
            margin-right: 10px;
            padding: 0px;
            overflow: hidden;
        }
        .songTitle{
        	z-index: 10px;
        }
        .musicPlay{
        	border: 1px solid lightgray;
        	height: 510px;
            border-radius: 10px;
        }
        p{
            font-size: 13px;
        }
        .col-md-3{
            border: 1px solid lightgray;
            border-radius: 10px;
            height: 510px;
        }
        .geci{
            width: 600px;
            border: 1px solid lightblue;
            height: 310px;
            border-radius: 300px;
            margin: 20px auto;
            text-align: center;
            padding: 0px 30px;
            overflow: hidden;
            color: gray;
        }
        .content{
            width: 400px;
            height: 308px;
            margin: 0px auto;
            resize: none;
            text-align: center;
            line-height: 25px;
            font-size: 13px;
            border: none;
            /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
            -ms-overflow-style:none;
            /*火狐下隐藏滚动条*/
            overflow:-moz-scrollbars-none;
        }
        /*Chrome下隐藏滚动条，溢出可以透明滚动*/
        .content::-webkit-scrollbar{
            width:0px
        }
        .contentstyle{
            padding-top: 30px;
        }
        #songMusic{
            display: block;
            margin: 0px auto;
            margin-top: -10px;
            background-color: white;
        }
        .mscvalue{
            color: darkgray;
        }
        ::selection { /* WebKit Browsers */
            background: #000000;
        }
        .col-md-10{
        	padding-left: 14px;
        }
        a:hover{
            text-decoration: none;
        }
        .files{
            display: none;
        }
        .msgContent{
            /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
            -ms-overflow-style:none;
            /*火狐下隐藏滚动条*/
            overflow:-moz-scrollbars-none;
        }
        /*Chrome下隐藏滚动条，溢出可以透明滚动*/
        .msgContent::-webkit-scrollbar{
            width:0px
        }
        #shareAllForm{
            display: none;
        }
        .moveBold{
            font-weight: bold;
            display: inline;
        }
        .recommend{
        	margin-top: 60px;
        	width: 158px;
        }
        .news{
        	margin: 20px auto;
        	width: 100px;
            height: 100px;
        	border-radius: 100px;
        	text-align: center;
        	line-height: 90px;
            margin-left: 29px;
            background-color: lightblue;
            border-color: lightblue;
        }
        .hots{
        	margin: 20px auto;
        	width: 100px;
            height: 100px;
        	border-radius: 100px;
        	text-align: center;
        	line-height: 90px;
            margin-left: 29px;
            background-color: lightblue;
            border-color: lightblue;
        }