<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.lld.dao.BlogTypeDao">
  <select id="left" resultType="com.lld.entity.BlogType">
  	select typeid, typeName from blogtype
  </select>
  <!-- 博客中间板块 -->
  <select id="center" resultType="com.lld.entity.Blog" parameterType="java.lang.String">
  	 select us.nickname,b.blogTitle,b.blogContent,b.pushtime ,bl.typeName from userinfo us 
	 LEFT JOIN blog b on us.userId=b.userId  left join blogType bl on b.blogType=bl.typeid
  	<if test="_parameter !=null">
  		where  b.blogType=#{_parameter}
  	</if> 
  	
  	<!-- select us.*,b.*,bl.* from userinfo us LEFT JOIN blog b on us.userId=b.userId left join blogtype bl on b.blogtype=bl.typeid
  	<if test="_parameter !=null">
  		where b.blogType=#{_parameter}
  	</if> -->
  	
  	
  	<!-- select bl.blogTitle,bl.blogContent,bl.pushtime,us.nickname,b.typeName from userinfo us 
	left join blog bl  on us.userId =bl.userId 
	left join blogtype b on b.typeid = bl.blogType
	<if  test="_parameter !=null">
	where b.typeName=#{_parameter}
  	</if> -->

  </select>
  <!--  博客右边板块 -->
  <select id="right" resultType="com.lld.entity.UserInfo">
  	select userId,pic,nickname,curjob,selfdesc from userinfo
  </select>

</mapper>
