<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zxh.dao.BlogzxhDao">
  	<insert id="addBlog" parameterType="com.zxh.entity.Blogzxh">
  		insert into blog
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="blogId !=null">
				blogId,
			</if>
			<if test="blogTitle !=null">
				blogTitle,
			</if>
			
			<if test="blogContent !=null">
				blogContent,
			</if>
			<if test="artType !=null">
				artType,
			</if>
			<if test="blogType !=null">
				blogType,
			</if>
			<if test="userId !=null">
				userId,
			</if>
			<if test="issecret !=null">
				issecret,
			</if>
			<if test="pushtime ==null">
				pushtime,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="blogId !=null">
				#{blogId},
			</if>
			<if test="blogTitle !=null">
				#{blogTitle},
			</if>
			
			<if test="blogContent !=null">
				#{blogContent},
			</if>
			<if test="artType !=null">
				#{artType},
			</if>
			<if test="blogType !=null">
				#{blogType},
			</if>
			<if test="userId !=null">
				#{userId},
			</if>
			<if test="issecret !=null">
				#{issecret},
			</if>
			<if test="pushtime ==null">
				sysdate(),
			</if>
		</trim>
  	</insert>
</mapper>