<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
 <title>写博客 </title>
 <link href="/tribune/static/editor/css/editormd.min.css" rel="stylesheet" />
 <link href="/tribune/static/files/app-f183ad6308.css" rel="stylesheet">
 <link rel="stylesheet" href="/tribune/static/css/bootstrap.css">
 <script src="/tribune/static/js/jquery-3.3.1.js"></script>
  <script src="/tribune/static/js/bootstrap.js"></script>
 <script src="/tribune/static/editor/editormd.min.js"></script>	
 <script src="/tribune/static/editor/lib/marked.min.js"></script>
 <script src="/tribune/static/editor/lib/prettify.min.js"></script>
 <script src="/tribune/static/editor/lib/raphael.min.js"></script>
 <script src="/tribune/static/editor/lib/underscore.min.js"></script>
 <script src="/tribune/static/editor/lib/sequence-diagram.min.js"></script>
 <script src="/tribune/static/editor/lib/flowchart.min.js"></script>
 <script src="/tribune/static/editor/lib/jquery.flowchart.min.js"></script>
 <script src="/tribune/static/editor/editormd.min.js"></script>	

</head>


<body>
<div id="layout" class="editor">
		<div class="layout__panel layout__panel--articletitle-bar"
			style="width: 100%; height: 56px; overflow: inherit;">
			<div class="article-bar flex flex--row">
				<div class="article-bar__input-box">
					<input maxlength="100" placeholder="输入文章标题"
					id="arttitle"	class="article-bar__title article-bar__title--input text-input" onkeyup="checkLen2(this)">
					<span class="article-bar__number"><span class="" id="titlecount">0</span>/100</span>
				</div>
				<div class="article-bar__user-box flex flex--row">
					<button class="btn btn-publish" id="push">发布文章</button>
					<div class="user-box">
						<div class="btn-userinfo">
							<div class="avatar-box">
								<a href=""><img
									src="https://avatar.csdn.net/5/B/F/3_qq_41594083.jpg"
									alt="" width="32" height="32"
									class="img-user-avatar"> <!----></a>
							</div>
							<div class="user-option-box">
								<a href="https://mp.csdn.net">博文管理</a> <a
									href="https://blog.csdn.net/qq_41594083">我的博客</a> <a
									href="https://passport.csdn.net/account/logout?ref=mdeditor">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="test-editormd">
        <textarea id="en"></textarea>
   		</div>

</div>
<div class="modal fade" id="bloginfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					模态框（Modal）标题
				</h4>
			</div>
			<div class="modal-body">
				在这里添加一些文本
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</body>
<script type="text/javascript">
var testEditor;
$(function () {
    testEditor = editormd("test-editormd", {
        width: "100%",
        height: 600,
        path: '/tribune/static/editor',
        markdown: "",
        codeFold: true,
        //syncScrolling : false,
        saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
        searchReplace: true,
        //watch : false,                // 关闭实时预览
        htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
        toolbar  : true,             //关闭工具栏
        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
        //emoji: true,
        taskList: true,
        tocm: true,        			 // Using [TOCM]
        tex: true,                	// 开启科学公式TeX语言支持，默认关闭
        flowChart: true,             // 开启流程图支持，默认关闭
        sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
        //dialogLockScreen : false,  // 设置弹出层对话框不锁屏，全局通用，默认为true
        //dialogShowMask : false,    // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
        //dialogDraggable : false,   // 设置弹出层对话框不可拖动，全局通用，默认为true
        //dialogMaskOpacity : 0.4,   // 设置透明遮罩层的透明度，全局通用，默认值为0.1
        //dialogMaskBgColor : "#000",// 设置透明遮罩层的背景颜色，全局通用，默认为#fff
        imageUpload: true,
        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL: "file/fileupload",
        onload: function () {
            //console.log('onload', this);
            //this.fullscreen();
            //this.unwatch();
            //this.watch().fullscreen();
            //this.setMarkdown("#PHP");
            //this.width("100%");
            //this.height(480);
            //this.resize("100%", 640);
        }
    });
});
function checkLen2(e){
	e.value = e.value.substring(0,100);  
    var curr = e.value.length;
    document.getElementById("titlecount").innerHTML = curr.toString();
}
</script>
<script type="text/javascript">
	$("#push").click(function(){
		var title=$("#arttitle").val();
		var content=$("#en").val();
		var userid="qtx_39019";
		var artType=0;
		var blogType=1;
		$("#bloginfo").modal('show');
		/* $.ajax({
			url:"zxhblog/insertblog",
			data:{"blogTitle":title,"blogContent":content,"artType":artType,"blogType":blogType,"userId":userid},
			type:"post",
			success:function(data){
				alert(data);
			}
		}); */
		
	});
</script>
</html>
