<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.sr.dao.FollowsDao">
	<!-- public int addfollow(String userid,String followedid); -->
	<insert id="addfollow" parameterType="String">
		insert into follow value(#{param1},#{param2},1)
	</insert>
</mapper>
